@import "tailwindcss";


@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes testimonialSlider {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-testimonial-slider {
  animation: testimonialSlider 35s linear infinite;
}

.animate-testimonial-slider:hover {
  animation-play-state: paused;
}